.header {
    border-bottom: 1px solid #ECECEC;
}

.navigation__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #212121;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 93px;
}
.header__container {
    display: flex;
      @include tablet {
    max-width: $tablet-width;
    padding-top: 0;
    padding-bottom: 0;
    @include desktop {
        max-width: $desktop-width;
    }
  }
}
.logo__accent {
    color: #2196F3;
}