.сontact-nav {
    display: flex;
    list-style: none;
    @include mobile-only {
        display: none;
    }
}
.nav .nav__link {
    display: inline-block;
    color: #212121;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.сontact-nav .contact-nav__link {
    display: inline-flex;
    align-items: center;

    color: #757575;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav>.nav__item {
    position: relative;
}
.nav {
    display: flex;
    list-style: none;
    align-items: center;
    @include mobile-only {
        display: none;
    }
}
.navigation {
    display: flex;
}
.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #2196F3;
}
.nav__item:not(:last-child) {
    margin-right: 50px;
}
.contact-nav__link {
    justify-content: center;
    align-items: center;
}

.nav__link,
.contact-nav__link {
    display: flex;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}
.nav__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav__link {
    color: #212121;
}

.nav__link:hover {
    color: #2196F3;
}
.nav .nav__link.current {
    color: #2196F3;
}
.сontact-nav {
    margin-left: auto;
    @include tablet {
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
    }
     @include desktop {
        margin-left: auto;
    flex-direction: row;
  }
}
.contact-nav__item:not(:last-child) {
    padding-bottom: 0;
    @include tablet {
        padding-bottom: 10px;
    }
}
.contact-nav__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    @include tablet {
        padding-top: 0;
        padding-bottom: 0;
    }
    @include desktop{
        padding-top: 32px;
        padding-right: 30px;
    }
}
.contact-nav__icon {
    margin-right: 10px;
    fill: currentColor;
}
.contact-nav__icon {
    margin-right: 10px;
    fill: currentColor;
}
.contact-nav__link:visited {
    color: #757575;
}

.contact-nav__link:hover {
    color: #2196F3;
}
.mobile-open-btn {
    display: block;
    margin-left: auto;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    @include tablet {
            display: none;
    }
}
.mobile-close-btn {
        display: block;
        margin-left: auto;
        background-color: rgb(0, 0, 0, 0);
        border: none;
        @include tablet {
                display: none;
            }
}
.mob-menu {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        padding: 48px 40px;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        
        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            overflow: auto;
        }
        @include tablet {
            display: none;
        }
        @include desktop {
            display: none;
        }
    }
.mob-menu.is-hidden {
    opacity: 0;
    pointer-events: none;
}
// .mob-menu.is-hidden {
//     transform: translateY(-100%);
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     opacity: 0;
// }
.mobile-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 9px;
}
.mob-menu__item:not(:last-child) {
    margin-bottom: 36px;
}
.mob-menu__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}
.mob-current {
    color: #2196F3;
}
.mob-menu-сontact__list {
    margin-top: 100px;
}
.mob-menu-сontact-tel__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}
.mob-menu-сontact__item:not(:last-child) {
    padding-bottom: 32px;
}
.mob-menu-сontact-mail__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}
.social__list {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
}
.social-list__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.social-list__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
    transform: rotate(90deg);
}